body {
    font-family: "Archivo Narrow", sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 16px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    line-height: 1;
}

h3 {
    size: 40px;
    text-align: center;
    font-size: 40px;
    margin: 0;
    line-height: 1;
    margin-bottom: 28px;

}

.content-column {
    background-color: rgba(0,0,0,.25);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

header {
    background-image: url(../images/header.webp);
    background-size: cover;
    background-position: center;
}

header .content-column {
    background-color: transparent;
    padding-top: 166px;
    padding-bottom: 188px;
}

section:first-of-type {
    background-color: rgba(0,0,255,.25);
}

section:first-of-type img {
    float: right;
    border: 1px solid darkblue;
}

section:first-of-type img {
    float: right;
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 0 0 20px 24px;
    border: 1px solid darkblue;
}